.draw-canvas-form-panel {
    margin-top: 20px;
    margin-right: 20px;

    .p-panel-header {
        padding: 0rem 0rem 0rem .5rem !important;
        background-color: var(--background-clr-peach);
        border: 2px solid var(--border-clr--lgt-brown);
        
        > div:first-of-type{
            width: 33%;
            text-align: left;
        }
    
        > div:nth-child(2)
        {
            height: 20px;
            width: 5%;
            background: var(--background-clr-white);
            border-top: 0px solid transparent;
            border-bottom: 40px solid transparent;
            border-left: 60px solid var(--background-clr-peach);
        }

        > div:last-of-type {
            width: 100%;
            height: 40px;
            background: var(--background-clr-white);
        }
    }

    .p-panel-content {
        padding: 0px 5px 0px 5px;
        border: 2px solid var(--border-clr--lgt-brown);
        border-top: none;
    }
}

@media screen and (max-width: 590px) {
    .draw-canvas-form-panel {
        width: 100% !important;

        .p-panel-header > div:first-of-type {
            padding-right: 10px;
        }

        .p-panel-header > div:nth-child(2) {
            display:none;
        }
    }
}