// .home-feature-container {}

@media screen and (max-width: 940px) {
    .home-feature-container {

        .draw-purchase-challenge-container {
            flex-direction: column !important;
        }

        .purchases-challenges-container {
            flex-direction: row !important;
            width: 100% !important;
        }
    }
}