.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-title,
.app-logo {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .app-title {
    white-space: nowrap;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.feature-container {
  border: 2px solid var(--border-clr--lgt-purple);
  margin: 0 80px;
  padding: 0 40px 40px 40px;

  :nth-child(2) {
    text-align: center;
  }

  .header-component {
    box-shadow: none;

    .header {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      >div:first-of-type,
      >div:last-of-type {
        border-top: 12px solid var(--background-clr-peach);
        width: 20%;
        margin-top: 12px;
      }

      >div:first-of-type {
        margin-right: 40px;
      }

      >div:last-of-type {
        margin-left: 40px;
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .feature-container {
    border: none;
    margin: 5px;
    padding: 5px;

    .header-component {
      .header {

        >div:first-of-type,
        >div:last-of-type {
          width: 35%;
        }

        >div:first-of-type {
          margin-right: 0px;
        }

        >div:last-of-type {
          margin-left: 0px;
        }
      }
    }
  }
}