.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-title,
.app-logo {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .app-title {
    white-space: nowrap;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
