@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700&family=Signika:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #FFFFFF;
  --clr-black: #202020;
  --clr-grey: #c4c4c4;
  --clr-grey-2: #8f8f8f;

  --font-family: "Signika";

  --background-clr-peach: #8d65c5; // #6b438b; // #df9e92;
  --background-clr-white: #ffffff; 
  
  --border-clr--lgt-brown: #a99d98;
  --border-clr--lgt-purple: #6b438b;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url('images/background6.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

.p-component {
  font-family: var(--font-family);
}

