.home-feature-container {
    border: 2px solid #a99d98;
    margin: 0 80px;
    padding: 0 40px 40px 40px;
    
    :nth-child(2) {
        text-align: center;
    }

    .header-component {
        box-shadow: none;

        .header {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            > div:first-of-type,
            > div:last-of-type {
                border-top: 12px solid #df9e92; 
                width: 20%;
                margin-top: 12px;
            }

            > div:first-of-type {
                margin-right: 40px;
            }

            > div:last-of-type {
                margin-left: 40px;
            }
        }
    } 
}

@media screen and (max-width: 590px) {
    .home-feature-container {
        border: none;
        margin: 5px;
        padding: 5px;
    }
}