.lunar-calendar .p-datepicker table td > span {
    height: 4.5rem;
    width: 4.5rem;
}

.lunar-calendar .p-datepicker table td > span .date-template.day1-left,
.lunar-calendar .p-datepicker table td > span .date-template.day1-left {
    -moz-background-clip: border;     /* Firefox 3.6 */
    -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
    background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

.lunar-calendar .p-datepicker table td > span .date-template.day1-left {
    border-left: 20pt solid rgba(153, 131, 239, 0.3);
}

.lunar-calendar .p-datepicker table td > span .date-template.day1-right {
    border-right: 20pt solid rgba(153, 131, 239, 0.3);
}