.goal-form-panel {
    .p-panel-header {
        padding: 0rem 0rem 0rem 1.25rem !important;
        background-color: var(--background-clr-peach);
        border: 2px solid var(--border-clr--lgt-brown);
        
        > div:first-of-type{
            width: 33%;
            text-align: left;
        }
    
        > div:nth-child(2)
        {
            height: 20px;
            width: 5%;
            background: var(--background-clr-white);
            border-top: 0px solid transparent;
            border-bottom: 40px solid transparent;
            border-left: 60px solid var(--background-clr-peach);
        }

        > div:last-of-type {
            width: 100%;
            height: 40px;
            background: var(--background-clr-white);
        }
    }

    .p-panel-content {
        padding: 0px 5px 0px 5px;
        border: 2px solid var(--border-clr--lgt-brown);
        border-top: none;
    }
}

.goal-form-container {
    display: flex;

    .start-finish-container {
        flex-direction: column;
        text-align: left;
        display: flex;

        input:first-of-type {
            margin-bottom: 20px;
        }

        .start-date-calendar,
        .finish-date-calendar
         {
            input {
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom: 1px solid var(--border-clr--lgt-brown);
                border-radius: 0;
                padding: 5px 5px 0px 5px;
            }
            input:focus {
                box-shadow: none;
            }
        }
    }

    > textarea:first-of-type,
    > textarea:first-of-type:focus {
        width: 80%;
        margin-right: 20px;
        margin-bottom: 10px;
        box-shadow: none;
        border: none;
    }

    > div:first-of-type {
        width: 20%
    }

    .start-finish-card{
        box-shadow: none;
        border-radius: 0;
        border-left: 2px solid var(--border-clr--lgt-brown);

        .p-card-body {
            padding: 0px 10px 0px 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .goal-form-container {
        flex-direction: column;
        
        > textarea:first-of-type,
        > textarea:first-of-type:focus {
            width: 100%;
        }

        > div:first-of-type {
            width: 100%
        }

        .start-finish-card{
            border: none;
        }
    }
}